<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ebimessages/src/main/java/com/ebrahim/salehi/ebimessages/mysources/EbimessagesApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ebrahim.salehi.ebimessages.mysources.EbimessagesApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ebimessages"/>
</launchConfiguration>
